

body{
    background-image: url('https://64.media.tumblr.com/ada103e509d373ebd31d86e96175192f/tumblr_po9rapKQko1t9q05y_1280.gifv');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

.name{
    text-align: center;
    font-family: 'Press Start 2P';
    color: coral;
}

.new{
    font-family: 'Press Start 2P'
}


.youtube{
    display: block;
    margin-left: 897px;
    margin-right: 897px;
    width: 25%;
}  

.arrow{
    font-family: 'Press Start 2P';
    color: coral;
    margin-left: 897px;
    margin-right: 897px;
}



.reviews{
    width: 100%;
    color: coral;
    font-size: 25px;
    font-family: 'Bangers';
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(112, 35, 35);
    border-radius: 4px;
    background-color: transparent;
    resize: both;
    overflow: auto;
}

.rating{
    font-family: 'Bangers';
    color: coral;
}

footer{
    color: coral;
    font-family: 'Press Start 2P'

}